# Local .terraform directories
**/.terraform/*

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore environment variable files
.env
.env.*

# Ignore lock files
*.lock.hcl

# Ignore backups
*.tf.bak
*.tf.tmp

# Ignore Terraform plan files
*.tfplan
